@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Follow this pattern when adding components: <b>'~/lib/Vue/vue.min.js'</b> - add locally all packages necessary to our solution</p>
    <p></p>
    <h2>Components list:</h2>

    <p>Axios v0.21.1</p>
    <p>Bootstrap v4.3.1 <b>**</b></p>
    <p>jQuery v3.5.1</p>
    <p>Vue.js v2.6</p>
    <p><s>Lodash 4.17</s> - most of its functionalities are available since ES 2016</p>
    <p>Moment.js 2.29</p>
    <p>popper.js 2.9</p>
    <p><s>Babel <b>*</b></s> - unecessary if we use modern browsers</p>
    <p>FontAwesome<b>*</b></p>
    <br />
    <p>
        <b>
            * - These are highly desirable components, if you decide to not use them please let us know why and be sure that it won't impact
            code reusability.
        </b>
    </p>
    <p>
        <b>
            ** - We believe bootstrap might be useful. Let us know if you will have a problem with Bootstrap.
        </b>
    </p>
    <p><b>All other components are required in this project. </b></p>
</div>
