@{
    ViewData["Title"] = "Vue With Payload";
}

<input type="hidden" id="payloadJSON" value="@ViewBag.payloadJSON" />

@*-------------------------------------------------------------------------------------------------------------------------------------------------*@
<style>
    [v-cloak] {
        display: none;
    }
</style>
@*-------------------------------------------------------------------------------------------------------------------------------------------------*@

@*Insert component*@
<div id="app">
    <div class="container">
        <asteroid-grid v-on:remove="remove" :asteroids="asteroids" header="Backend Payload"></asteroid-grid>
    </div>
</div>
@*-------------------------------------------------------------------------------------------------------------------------------------------------*@

@*Scripts*@
<script src="~/lib/Vue/vue.min.js"></script>
<script src="~/lib/Axios/axios.min.js"></script>
<script src="~/lib/jquery/dist/jquery.min.js"></script>

@*-------------------------------------------------------------------------------------------------------------------------------------------------*@
@*Import component definiton - however for this example I will leave the componente here so we can see how it should behave*@
<script>
    @Html.Raw(ViewBag.AsteroidGridVue)
</script>
@*-------------------------------------------------------------------------------------------------------------------------------------------------*@
@*Vue logic goes here*@
<script>
    var vm = new Vue({
        el: '#app',
        data: {
            asteroids: []
        },
        created: function () {
            this.fetchAsteroidsLocal();
        },
        methods: {
            fetchAsteroidsLocal: function () {
                let payloadJSON = JSON.parse($("#payloadJSON").val());
                this.asteroids = payloadJSON.near_earth_objects.slice(0, 10);
            },
            remove: function (index) {
                this.asteroids.splice(index, 1);
            },
        }
    });
</script>