@model testmvc_vue_core.Models.TestA

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>TestA</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form id="formMain" asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="DocumentCode" class="control-label"></label>
                <input asp-for="DocumentCode" class="form-control" />
                <span id="DocumentCodeValidation" asp-validation-for="DocumentCode" class="text-danger" style="display: none"></span>

            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
@*<script>
    $(document).ready(function () {

        Object.observe($("#DocumentCode").val(), test());

        function test() { console.log('test2'); }

        $("#DocumentCode").change(function () {
            console.log('test');
        });
    });
</script>*@

<script>
    document.getElementById('formMain')
        .addEventListener('DOMSubtreeModified', function () {
            // do something
            console.log("check6 value changed to "
                + document.getElementById('formMain').innerHTML);
        });
</script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
